<section>
    
    <div  style="margin-top: 13%;margin-left: 32%" class="col-md-12"  style="text-align: center;">
        <h1 style="color: #373D3F; "> WEBPAGE SCRAPER </h1>
    </div>
    <form action="/urlsearch/" enctype="multipart/form-data"  method="POST">
    <div style="margin-top: 10%;margin-left: 27%;" class="input-group mb-3">
  <input style="max-width: 50%;" type="text" id="u" name="url" class="form-control" placeholder="Paste URL here" aria-label="url" aria-describedby="basic-addon2">
  </div>
  <div  style="text-align: center;margin-top: 5%;margin-left: 45%;" class="col-md-12 input-group-append">
    <input  class="btn btn-success" value="Get insights"  type="submit">
  </div>
  </form>
</section>